[submodule "addons_by_glutanimate"]
	path = addons_by_glutanimate
	url = https://github.com/glutanimate/anki-addons-misc
	branch = master
[submodule "addons_by_sebastiengllmt"]
	path = addons_by_sebastiengllmt
	url = https://github.com/SebastienGllmt/Anki-Addons
	branch = master
[submodule "button_colours"]
	path = button_colours
	url = https://github.com/calumks/anki-button-colours
	branch = master
[submodule "night_mode"]
	path = night_mode
	url = https://github.com/krassowski/Anki-Night-Mode
	branch = master
