[submodule "addons_by_glutanimate"]
	path = addons_by_glutanimate
	url = https://github.com/glutanimate/anki-addons-misc
	branch = master
[submodule "addons_by_ospalh"]
	path = addons_by_ospalh
	url = https://github.com/ospalh/anki-addons
	branch = master
[submodule "addons_by_sebastiengllmt"]
	path = addons_by_sebastiengllmt
	url = https://github.com/SebastienGllmt/Anki-Addons
	branch = master
[submodule "anki_connect"]
	path = anki_connect
	url = https://github.com/FooSoft/anki-connect
	branch = master
[submodule "button_colours"]
	path = button_colours
	url = https://github.com/calumks/anki-button-colours
	branch = master
	ignore = untracked
[submodule "deck_stats"]
	path = deck_stats
	url = https://github.com/calumks/anki-deck-stats
	branch = master
	ignore = untracked
[submodule "export_decks_to_csv"]
	path = export_decks_to_csv
	url = https://gist.github.com/chekunkov/db4ba36e7c5aabf85d49
	branch = master
	ignore = untracked
[submodule "night_mode"]
	path = night_mode
	url = https://github.com/krassowski/Anki-Night-Mode
	branch = master
	ignore = untracked
[submodule "progress_for_learned_and_matured_cards"]
	path = progress_for_learned_and_matured_cards/progress_for_learned_and_matured_cards
	url = https://github.com/matthayes/anki_progress_stats
	branch = master
[submodule "review_heatmap"]
	path = review_heatmap
	url = https://github.com/glutanimate/review-heatmap
	branch = master
